In [1]:
import os
import pandas as pd

In [4]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ceny_produktow.csv'), sep=';')
df.head()

,Nazwa,Rodzaje towarów,Jednostka miary,ID grupy,Rodzaje produktów,Wartosc,Data
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [5]:
df.columns

Index(['Nazwa', 'Rodzaje towarów', 'Jednostka miary', 'ID grupy',
       'Rodzaje produktów', 'Wartosc', 'Data'],
      dtype='object')

In [7]:
cols = pd.read_csv(os.path.join('..', 'datasets', 'ceny_produktow_renamed.csv'), sep=';').columns

In [13]:
new_cols = {old_col: new_col for old_col, new_col in zip(df.columns, cols)}

In [19]:
new_cols

{'Nazwa': 'province',
 'Rodzaje towarów': 'product_types',
 'Jednostka miary': 'currency',
 'ID grupy': 'product_group_id',
 'Rodzaje produktów': 'product_line',
 'Wartosc': 'value',
 'Data': 'date'}

In [16]:
# df = df.rename(columns=new_cols)
df.rename(columns=new_cols, inplace=True)

In [17]:
df

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10

In [20]:
new_cols.keys()

dict_keys(['Nazwa', 'Rodzaje towarów', 'Jednostka miary', 'ID grupy', 'Rodzaje produktów', 'Wartosc', 'Data'])

In [21]:
df.columns = list(new_cols)

In [22]:
df

,Nazwa,Rodzaje towarów,Jednostka miary,ID grupy,Rodzaje produktów,Wartosc,Data
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10

In [23]:
df.Nazwa

0                PODKARPACKIE
1                     ŁÓDZKIE
2          KUJAWSKO-POMORSKIE
3                DOLNOŚLĄSKIE
4         WARMIŃSKO-MAZURSKIE
                 ...
149935     KUJAWSKO-POMORSKIE
149936                ŁÓDZKIE
149937            MAŁOPOLSKIE
149938    WARMIŃSKO-MAZURSKIE
149939            MAZOWIECKIE
Name: Nazwa, Length: 149940, dtype: object

In [24]:
df["Jednostka miary"]

0         zł
1         zł
2         zł
3         zł
4         zł
          ..
149935    zł
149936    zł
149937    zł
149938    zł
149939    zł
Name: Jednostka miary, Length: 149940, dtype: object

In [28]:
df_products = pd.read_csv(os.path.join('..', 'datasets', 'ceny_produktow_renamed.csv'), sep=';')
df_products.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [31]:
df_products = df_products.loc[df_products['province'] == 'POLSKA']

In [32]:
import numpy as np

In [40]:
df_products = df_products.loc[np.logical_and(
    df_products['value'] < 3000,
    df_products['value'] != 0
)]

In [41]:
# df

In [43]:
df_products.sort_values(by='value', ascending=False).head(1)

,province,product_types,currency,product_group_id,product_line,value,date
104451,POLSKA,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,31.9,2018-5

In [44]:
df_products.sort_values(by='value').head(1)

,province,product_types,currency,product_group_id,product_line,value,date
4910,POLSKA,NaN,zł,4,kasza gryczana prażona cała - za 1kg,0.02,2019-4

In [48]:
df_products.sort_values(by=['product_types', 'value'], ascending=[False, True]).groupby('product_types')['value'].max()

product_types
cukier biały z buraków cukrowych, workowany - za 1kg     3.570000
czekolada naturalna pełna bez dodatków - za 1kg         22.060000
jaja kóże śfierze - za 666szt.                           0.450000
koncentrat pomidorowy 30% - za 1kg                      13.380000
mieszanka mrożona marchew i groszek - za 1kg             0.956627
ogórki konserwowe całe 0,9l - za 1szt.                   3.520000
sok jabłkowy, w opakowaniu kartonowym - za 1l            2.430000
sól warzona biała workowana - za 1kg                     0.540000
Name: value, dtype: float64

In [85]:
df_products = pd.read_csv(os.path.join('..', 'datasets', 'ceny_produktow_renamed.csv'), sep=';')
df_products.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [86]:
rows = df_products.loc[df_products.duplicated(keep='first')].shape[0]
rows

21420

In [87]:
df_products.shape[0] - rows

128520

In [88]:
df_products.drop_duplicates(keep='first').shape[0]

128520

In [89]:
df_products['date'] = df_products['date'].astype(str)

In [90]:
df_products.loc[df_products['date'] == '1888-0', 'date'] = '1999-1'

In [91]:
df_products.loc[df_products['date'] == '1888-0']

Empty DataFrame
Columns: [province, product_types, currency, product_group_id, product_line, value, date]
Index: []

In [92]:
df_products.loc[df_products['date'] == '2099-13', 'date'] = '2019-1'

In [93]:
df_products['product_types'].unique()

array([nan, 'ogórki konserwowe całe 0,9l - za 1szt.',
       'jaja kóże śfierze - za 666szt.',
       'koncentrat pomidorowy 30% - za 1kg',
       'mieszanka mrożona marchew i groszek - za 1kg',
       'cukier biały z buraków cukrowych, workowany - za 1kg',
       'sok jabłkowy, w opakowaniu kartonowym - za 1l',
       'sól warzona biała workowana - za 1kg',
       'czekolada naturalna pełna bez dodatków - za 1kg'], dtype=object)

In [94]:
df_products

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3
...,...,...,...,...,...,...,...
149935,KUJAWSKO-POMORSKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,12.15,2016-11
149936,ŁÓDZKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2012-5
149937,MAŁOPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.05,2008-6
149938,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,11.87,2000-11
149939,MAZOWIECKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,0.16,2005-10

In [95]:
df_products.loc[df_products['date'] == '1999-1']

,province,product_types,currency,product_group_id,product_line,value,date
133,WARMIŃSKO-MAZURSKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,15.43,1999-1
301,KUJAWSKO-POMORSKIE,NaN,zł,4,kasza gryczana prażona cała - za 1kg,0.00,1999-1
1110,PODLASKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,NaN,1999-1
1515,POLSKA,NaN,zł,4,kasza gryczana prażona cała - za 1kg,2.99,1999-1
1637,OPOLSKIE,NaN,zł,2,kiełbasa Myśliwska sucha - za 1kg,16.61,1999-1
...,...,...,...,...,...,...,...
147429,LUBELSKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.85,1999-1
147967,PODKARPACKIE,NaN,zł,4,chleb - za 1kg,0.00,1999-1
148302,DOLNOŚLĄSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,NaN,1999-1
148611,DOLNOŚLĄSKIE,"sok jabłkowy, w opakowaniu kartonowym - za 1l",zł,1,NaN,1.84,1999-1
148810,ŚWIĘTOKRZYSKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,15.38,1999-1

In [96]:
df_products.loc[df_products['product_types'] == 'jaja kóże śfierze - za 666szt.', 'product_types'] = 'jaja kurze świeże - za 10szt.'

In [97]:
is_eur = df_products['currency'] == 'EUR'

In [98]:
df_products.loc[is_eur, 'currency']

26        EUR
61        EUR
103       EUR
113       EUR
136       EUR
         ...
149795    EUR
149837    EUR
149854    EUR
149863    EUR
149879    EUR
Name: currency, Length: 4284, dtype: object

In [99]:
df_products['value'].astype(float)

0         21.37
1           NaN
2          3.55
3          6.14
4          5.63
          ...
149935    12.15
149936     0.00
149937     3.05
149938    11.87
149939     0.16
Name: value, Length: 149940, dtype: float64

In [100]:
df_products.loc[is_eur, 'value'] = df_products['value'] * 4.15

In [101]:
df_products.loc[is_eur, 'currency'] = 'zł'

In [102]:
df_products.loc[:, 'currency'].unique()

array(['zł'], dtype=object)

In [106]:
df_products = df_products.loc[df_products['value'] != 3000]

In [107]:
df_products.to_csv(os.path.join('..', 'datasets', 'ceny_produktow_cleaned.csv'), sep=";", index=False)

---

In [108]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ceny_produktow_cleaned.csv'), sep=';')
df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149923 entries, 0 to 149922
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   province          149923 non-null  object
 1   product_types     34255 non-null   object
 2   currency          149923 non-null  object
 3   product_group_id  149923 non-null  int64
 4   product_line      115668 non-null  object
 5   value             137071 non-null  float64
 6   date              149923 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 8.0+ MB

In [110]:
df.loc[np.logical_and(
    df['product_types'].isnull(),
    df['product_line'].isnull()
)].shape[0]

0

In [111]:
df.sample(50)

,province,product_types,currency,product_group_id,product_line,value,date
95092,ŁÓDZKIE,NaN,zł,2,mięso wieprzowe (boczek surowy) - za 1kg,8.30,2003-4
87734,POLSKA,NaN,zł,2,pstrąg świeży niepatroszony - za 1 kg,9.27,2006-3
85641,OPOLSKIE,NaN,zł,4,chleb mieszany zwykły (pszenno-żytni) - za 1kg,3.40,2018-9
23820,MAZOWIECKIE,jaja kurze świeże - za 10szt.,zł,3,NaN,0.36,2012-5
15463,LUBUSKIE,koncentrat pomidorowy 30% - za 1kg,zł,1,NaN,0.00,2004-4
25375,PODKARPACKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,24.48,2010-8
74047,DOLNOŚLĄSKIE,jaja kurze świeże - za 10szt.,zł,3,NaN,0.00,2002-2
59625,PODKARPACKIE,NaN,zł,4,kasza gryczana prażona cała - za 1kg,0.00,2001-1
139466,OPOLSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,9.71,2018-7
26791,POLSKA,NaN,zł,2,mięso wieprzowe z kością (łopatka) - za 1kg,9.39,2015-12
105043,WIELKOPOLSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,21.55,2006-10
45910,MAZOWIECKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,5.79,2008-6
98849,ŚWIĘTOKRZYSKIE,NaN,zł,2,mięso wołowe z kością (rostbef) - za 1kg,18.95,2015-11
108323,ŚWIĘTOKRZYSKIE,NaN,zł,2,karp świeży niepatroszony - za 1kg,NaN,2019-12
46421,WARMIŃSKO-MAZURSKIE,NaN,zł,2,boczek wędzony z żeberkami - za 1kg,18.48,2017-12
94364,LUBUSKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2013-9
78507,WIELKOPOLSKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,2.36,2007-11
32643,POMORSKIE,"sok jabłkowy, w opakowaniu kartonowym - za 1l",zł,1,NaN,0.00,2010-5
853,PODKARPACKIE,"sok jabłkowy, w opakowaniu kartonowym - za 1l",zł,1,NaN,0.00,2000-6
69643,POMORSKIE,NaN,zł,2,pstrąg świeży niepatroszony - za 1 kg,8.49,2007-7
64687,LUBELSKIE,NaN,zł,4,kasza gryczana prażona cała - za 1kg,3.48,2017-10
114231,MAZOWIECKIE,"sok jabłkowy, w opakowaniu kartonowym - za 1l",zł,1,NaN,2.29,2008-12
106886,OPOLSKIE,koncentrat pomidorowy 30% - za 1kg,zł,1,NaN,0.00,2016-2
56304,WIELKOPOLSKIE,NaN,zł,2,mięso wołowe bez kości (z udźca) - za 1kg,30.96,2013-10
94468,ZACHODNIOPOMORSKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.99,2004-1
22331,PODKARPACKIE,"ogórki konserwowe całe 0,9l - za 1szt.",zł,1,NaN,3.17,2014-10
74480,WARMIŃSKO-MAZURSKIE,NaN,zł,2,mięso wieprzowe z kością (łopatka) - za 1kg,10.01,2015-1
33135,ŁÓDZKIE,NaN,zł,2,boczek wędzony z żeberkami - za 1kg,10.60,2000-12
105255,ŚLĄSKIE,NaN,zł,2,baleron gotowany - za 1kg,18.26,2013-5
103244,ŁÓDZKIE,"sok jabłkowy, w opakowaniu kartonowym - za 1l",zł,1,NaN,1.85,2010-3
89022,MAZOWIECKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2015-4
141084,ZACHODNIOPOMORSKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,1.00,2006-1
119649,LUBELSKIE,"cukier biały z buraków cukrowych, workowany - ...",zł,3,NaN,0.00,2011-11
28533,WARMIŃSKO-MAZURSKIE,sól warzona biała workowana - za 1kg,zł,3,NaN,0.00,2014-2
39348,KUJAWSKO-POMORSKIE,sól warzona biała workowana - za 1kg,zł,3,NaN,0.45,2013-7
8063,DOLNOŚLĄSKIE,NaN,zł,2,mięso wieprzowe z kością (łopatka) - za 1kg,11.61,2001-12
115885,ZACHODNIOPOMORSKIE,NaN,zł,2,filety z morszczuka mrożone - za 1kg,10.54,2012-2
141616,ZACHODNIOPOMORSKIE,NaN,zł,4,kasza jęczmienna Mazurska - za 1kg,1.24,2004-2
15960,ZACHODNIOPOMORSKIE,NaN,zł,4,chleb - za 1kg,NaN,2011-9
332,MAŁOPOLSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,4.98,2009-1
98852,MAŁOPOLSKIE,NaN,zł,2,"śledź solony, niepatroszony - za 1kg",9.68,2019-3
117123,POLSKA,NaN,zł,2,pstrąg świeży niepatroszony - za 1 kg,NaN,2003-4
44348,OPOLSKIE,mieszanka mrożona marchew i groszek - za 1kg,zł,1,NaN,0.00,2017-9
20521,LUBELSKIE,NaN,zł,2,konserwa mięsna wieprzowa Turystyczna - za 300 g,3.83,2010-7
72484,MAŁOPOLSKIE,NaN,zł,4,kasza gryczana prażona cała - za 1kg,0.00,2011-11
22006,MAZOWIECKIE,NaN,zł,2,filety z morszczuka mrożone - za 1kg,0.00,2005-8
99783,POLSKA,NaN,zł,2,"śledź solony, niepatroszony - za 1kg",5.13,2007-3
10862,PODKARPACKIE,NaN,zł,4,"mąka pszenna Poznańska, workowana - za 1kg",0.99,1999-1
41906,DOLNOŚLĄSKIE,jaja kurze świeże - za 10szt.,zł,3,NaN,0.23,2007-7
8768,LUBUSKIE,NaN,zł,2,mięso wołowe z kością (rostbef) - za 1kg,23.66,2017-8

In [119]:
df['product'] = df['product_types']

In [121]:
df.loc[df['product'].isnull(), 'product'] = df['product_line']

In [124]:
df['product'].isnull().sum()

0

In [125]:
df.drop_duplicates().to_csv(os.path.join('..', 'datasets', 'ceny_produktow_cleaned.csv'), sep=";", index=False)